<html>
<head>
  <title>NOTHING ERROR</title>
</head>
<body>
<h1>Nothing is submitted into the database, you need to add something</h1>
  <p>enter some values into the database, USING "submit"!</p>
<p>Maybe try <a href="{{ url_for("index") }}">the home page</a>?</p>
</body>
</html>
