<h1>ACP store database</h1>
<h1></h1>
<h1></h1>
 <h2>MILE   KM       OPENTIME     CLOSETIME</h2>
{% for item in items %}
 <h2>{{item.miles}}miles||    {{item.km}}km      ||   {{item.open_time}}   ||  {{item.close_time}}</h2>
{% endfor %}
